.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  overflow-x: hidden;
}

.spinContainer {
  display: flex;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #888;
  color: black;
  font-size: 1.1rem;
  margin: 40px;
  
}

.spinerDiv {
  position: absolute;

  width: 200px;
  height: 200px;
  border-radius: 50%;

  a {
    position: absolute;
    offset-path: circle(50% at 50% 50%);
    animation: move 5s linear infinite;

    img {
      height: 50px;
      width: auto;
    }
  }

  &:nth-of-type(1) {
    a {
      offset-rotate: -40deg;
    }
    rotate: 40deg;
  }
  &:nth-of-type(2) {
    a {
      offset-rotate: -160deg;
    }
    rotate: 160deg;
  }
  &:nth-of-type(3) {
    a {
      offset-rotate: -270deg;
    }
    rotate: 270deg;
  }
  
  &:nth-of-type(4){
    display: flex;
    justify-content: center;
    align-items: center;   
  }


  @keyframes move {
    100% {
      offset-distance: 100%;
    }
  }
}

.z1 {
  z-index: 1;
}
.z2 {
  z-index: 2;
}
.z3 {
  z-index: 3;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;

  &:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }

  &.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
